@font-face {
	font-family: 'Knile';
	src: url('/knile/knile-regular-webfont.eot');
	src:
		url('/knile/knile-regular-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('/knile/knile-regular-webfont.woff2') format('woff2'),
		url('/knile/knile-regular-webfont.woff') format('woff'),
		url('/knile/knile-regular-webfont.ttf') format('truetype'),
		url('/knile/knile-regular-webfont.svg#knileregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper';
	src: url('/CooperHewitt-Heavy.otf');

}
@font-face {
	font-family: 'Knile';
	src: url('/knile/knile-medium-webfont.eot');
	src:
		url('/knile/knile-medium-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('/knile/knile-medium-webfont.woff2') format('woff2'),
		url('/knile/knile-medium-webfont.woff') format('woff'),
		url('/knile/knile-medium-webfont.ttf') format('truetype'),
		url('/knile/knile-medium-webfont.svg#knilemedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Knile';
	src: url('/knile/knile-semibold-webfont.eot');
	src:
		url('/knile/knile-semibold-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('/knile/knile-semibold-webfont.woff2') format('woff2'),
		url('/knile/knile-semibold-webfont.woff') format('woff'),
		url('/knile/knile-semibold-webfont.ttf') format('truetype'),
		url('/knile/knile-semibold-webfont.svg#knilesemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
